.header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  height: 51px;
  padding: 0px 16px;
  span {
    margin-right: 9px;
    font-size: 16px;
    font-family: "EncodeSans Medium";
    letter-spacing: 0;
  }
}

.p2-4 {
  padding: 0.4rem !important;
}

.text-black {
  color: #000000;
}

.margin-row-reverse {
  margin-right: -15px;
  margin-left: -15px;
}

.logo {
  width: 66px;
  height: 37px;
  opacity: 1;
}

.separator {
  margin-top: 33px;
  margin-bottom: 0px;
}
