.rate-container {
  margin-top: 42px;
  justify-content: center;

  li {
    margin: auto !important;
    width: 51px;
    height: 64px;
    justify-content: center;
  }
  .rate-count {
    .number {
      width: 32px;
      height: 32px;
      border: 0.5px solid #000000;
      opacity: 1;
      margin: auto;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      padding-top: 2px;
      font-family: "EncodeSans Medium";
      font-size: 11px;
    }
    p.name:not(.last) {
      margin-top: 11px;
      text-align: center;
      font-family: "EncodeSans Medium";
      font-size: 11px;
      letter-spacing: 0;
      color: #898989;
      opacity: 1;
      margin-bottom: 0px;
    }
  }

  .rate-emote {
    .emote {
      vertical-align: middle;
      margin-top: -5px;
      margin-bottom: -5px;
      img {
        width: 48px;
        height: 48px;
        &.last {
          width: 61px;
          height: 61px;
          margin-top: -4px;
        }
      }
    }
    p.name {
      text-align: center;
      font-family: "EncodeSans Medium";
      font-size: 13px;
      letter-spacing: 0;
      color: #000000;
      opacity: 1;
      margin-top: 4px;
      margin-bottom: 0px;
      &.last {
        margin-top: -10px;
      }
    }
  }
}
